.frame-group {
  position: absolute;
  top: 257px;
  left: 680px;
  background-color: #404852;
  width: 1.5px;
  height: 1.5px;
}
.rectangle-3-copy2 {
  position: absolute;
  top: 257px;
  left: 689.8px;
  background-color: #404852;
  width: 1.5px;
  height: 1.5px;
}
.text-block1 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fced65;
  width: 73px;
  height: 116px;
}
.dot-ornament2 {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 770px;
  height: 357px;
  opacity: 0.5;
  mix-blend-mode: normal;
}
.windows-krwy72tkb0y-unsplash-1-icon {
  position: absolute;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 12px;
  max-height: 100%;
  width: 595px;
  object-fit: cover;
  z-index: 2;
}
.button-label {
  height: 491px;
  flex: 1;
  position: relative;
  min-width: 510px;
  max-width: 100%;
}
.our-success-story {
  margin: 0;
  width: 441px;
  position: relative;
  font-size: inherit;
  line-height: 52.8px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.frame1 {
  width: 122px;
  height: 1px;
  position: relative;
  border-top: 1px solid #dedede;
  box-sizing: border-box;
}
.develop-a-website {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  color: #666;
}
.group {
  width: 472px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 26px;
  max-width: 100%;
}
.b {
  align-self: stretch;
  position: relative;
  line-height: 63.98px;
}
.project-complete {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
}
.footer3 {
  width: 136px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
  color: #121212;
}
.b1 {
  align-self: stretch;
  position: relative;
  line-height: 63.98px;
}
.our-team1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #ccc;
}
.footer4 {
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
}
.b2 {
  align-self: stretch;
  position: relative;
  line-height: 63.98px;
}
.our-client {
  width: 96px;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  display: inline-block;
  font-family: Roboto;
  color: #ccc;
}
.footer5 {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
}
.location-map-marker {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  color: #4f4f4f;
  font-family: Raleway;
}
.group-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.section-our-success-inner {
  width: 544px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 29px;
  box-sizing: border-box;
  min-width: 544px;
  max-width: 100%;
}
.section-our-success {
  flex: 1;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 61px 46px 0px 40px;
  box-sizing: border-box;
  gap: 25px;
  max-width: 100%;
  z-index: 2;
}
.frame-children {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 2px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: 48px;
  color: #121212;
  font-family: "Plus Jakarta Sans";
}

@media screen and (max-width: 1200px) {
  .section-our-success-inner {
    flex: 1;
  }

  .section-our-success {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .our-success-story {
    font-size: 38px;
    line-height: 42px;
  }

  .b {
    font-size: 38px;
    line-height: 51px;
  }

  .b1 {
    font-size: 38px;
    line-height: 51px;
  }

  .b2 {
    font-size: 38px;
    line-height: 51px;
  }
}
@media screen and (max-width: 750px) {
  .button-label {
    min-width: 100%;
  }

  .group-parent {
    gap: 32px;
  }

  .section-our-success-inner {
    min-width: 100%;
  }

  .section-our-success {
    padding-top: 40px;
    padding-right: 23px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .our-success-story {
    font-size: 29px;
    line-height: 32px;
  }

  .b {
    font-size: 29px;
    line-height: 38px;
  }

  .b1 {
    font-size: 29px;
    line-height: 38px;
  }

  .b2 {
    font-size: 29px;
    line-height: 38px;
  }

  .location-map-marker {
    flex-wrap: wrap;
  }
}
