
.what-our-customer {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 52.8px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.next-button {
  margin: 0 !important;
  height: 56px;
  width: 56px;
  position: absolute;
  right: 0px;
  bottom: 120px;
}
.card {
  width: 816px;
  height: 312px;
  position: relative;
  border-radius: 8px;
  background-color: #000000;
  box-shadow: 0px 100px 10px rgba(241, 244, 249, 0.25);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.reachcircle-is-the {
  align-self: stretch;
  height: 128px;
  position: relative;
  line-height: 32px;
  display: inline-block;
  z-index: 1;
  right: 44px;   /*  ACA MODIFICAR EL TEXTO DE LA OPINION ACAAAAAAAAAAAAAAAAAAAA*/
}
.shalima-hayden {
  position: relative;
  line-height: 220px;
  z-index: 1;
  font-size: 33px;
  right: 44px;
  justify-content: center;
}
.product-designer {
  position: fixed;
  font-size: 20px;
  line-height: 19.6px;
  color: #ffe601;
  z-index: 1;
  right: 44px;
  box-shadow: black;
}
.text-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  right: 90px;
}
.footer-nav-group {
  width: 195px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  color: #1d1d1d;
}
.image-placeholder-icon2 {
  width: 88px;
  height: 88px;
  right: 80px;
  position: absolute;
  margin: 0 !important;
  top: -40px;
  left: calc(50% - 80px); /* ACA CAMBIAR PARA CENTRAR LA FOTO*/
  object-fit: cover;
  z-index: 1;
  border-radius: 30px;
  
}
.logo-minima {
  width: 816px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 100px 10px rgba(241, 244, 249, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 88px 56px 14px 125px;
  box-sizing: border-box;
  position: relative;
  gap: 32px;
  max-width: 100%;
}
.previous-button-icon {
  height: 56px;
  width: 56px;
  position: absolute;
  margin: 0 !important;
  bottom: 120px;
  left: 0px;
}
.get-in-touch1 {
  width: 1024px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  font-size: 18px;
  color: #666;
}
.customer-says {
  flex: 1;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 104px 20px 144px;
  box-sizing: border-box;
  gap: 115px;
  max-width: 100%;
  z-index: 3;
}
.your-email-input {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 26px;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -135px;
  text-align: center;
  font-size: 48px;
  color: #121212;
  font-family: "Plus Jakarta Sans";
}

@media screen and (max-width: 1050px) {
  .what-our-customer {
    font-size: 38px;
    line-height: 42px;
  }

  .logo-minima {
    padding-left: 62px;
    padding-right: 28px;
    box-sizing: border-box;
  }

  .customer-says {
    gap: 115px;
  }
}
@media screen and (max-width: 750px) {
  .customer-says {
    gap: 115px;
    padding-top: 155px;
    padding-bottom: 94px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .what-our-customer {
    font-size: 29px;
    line-height: 32px;
  }

  .logo-minima {
    gap: 32px;
    padding-left: 20px;
    box-sizing: border-box;
  }
}

