.service-we-provide {
  margin: 0;
  position: relative;
  font-size: 48px;
  line-height: 52.8px;
  font-weight: 700;
  font-family: inherit;
  color: #000;
  display: inline-block;
  max-width: 100%;
  flex-shrink: 0;
}
.mail-your-mail {
  width: 122px;
  height: 1px;
  position: relative;
  border-top: 1px solid #dedede;
  box-sizing: border-box;
}
.we-will-help {
  width: 435px;
  height: 64px;
  position: relative;
  line-height: 32px;
  display: inline-block;
  max-width: 100%;
}
.frame-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  display: none;
}
.trendingupoutline-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  z-index: 1;
}
.rectangle-parent {
  align-self: stretch;
  height: 52px;
  position: relative;
  border-radius: 10px;
  background-color: #f0f0f0;
}
.instagram-twitter-facebook {
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0px 0px;
  box-sizing: border-box;
}
.performance-marketing {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 31.99px;
  font-weight: 700;
  font-family: inherit;
}
.help-create-a {
  margin: 0;
}
.becomes-a-website {
  margin: 0;
}
.help-create-a-container {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  color: #4f4f4f;
}
.form1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 271px;
  max-width: 100%;
}
.social-media2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  max-width: 100%;
  font-size: 24px;
  color: #333;
}
.phone-icon {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22px;
  max-width: 100%;
  flex-shrink: 0;
  font-size: 18px;
  color: #666;
}
.footer-child {
  height: 52px;
  width: 52px;
  position: relative;
}
.feed-management-e-commerce {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 31.99px;
  font-weight: 700;
  font-family: inherit;
}
.create-customizable-illustrati {
  margin: 0;
}
.designs-that-are {
  margin: 0;
}
.create-customizable-illustrati-container {
  position: relative;
  line-height: 150%;
}
.ohio-gate-c-a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  color: #4f4f4f;
}
.location-dot {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 1px 0px 0px;
  box-sizing: border-box;
  min-width: 259px;
  max-width: 100%;
}
.footer1 {
  width: 468px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17px;
  max-width: 100%;
  flex-shrink: 0;
}
.frame-item {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  display: none;
}
.cash-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 36px;
  height: 36px;
  overflow: hidden;
  z-index: 1;
}
.rectangle-group {
  align-self: stretch;
  height: 52px;
  position: relative;
  border-radius: 10px;
  background-color: #f0f0f0;
}
.frame-wrapper {
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0px 0px;
  box-sizing: border-box;
}
.content-production {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 31.99px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.make-the-appearance {
  margin: 0;
}
.has-quality-and {
  margin: 0;
}
.make-the-appearance-container {
  position: relative;
  line-height: 150%;
}
.logo-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  color: #4f4f4f;
}
.container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 1px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17px;
  max-width: 100%;
}
.frame-inner {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  display: none;
}
.speakerphoneoutline-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  z-index: 1;
}
.rectangle-container {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #f0f0f0;
  height: 52px;
  width: 52px;
  position: relative;
  border-radius: 10px;
}
.influencer-marketing {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 31.99px;
  font-weight: 700;
  font-family: inherit;
}
.create-customizable-illustrati1 {
  margin: 0;
}
.designs-that-are1 {
  margin: 0;
}
.create-customizable-illustrati-container1 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  color: #4f4f4f;
}
.influencer-marketing-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.footer2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17px;
  max-width: 100%;
  flex-shrink: 0;
}
.frame-map-marker {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
  padding-top: 30px;
}
.rectangle-rectangle-copy {
  width: 489px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 22px;
  box-sizing: border-box;
  min-width: 489px;
  max-width: 100%;
}
.image-1-icon {
  height: 300px;
  width: 250px;
  position: relative;
  object-fit: cover;
}
.image-2-icon {
  position: absolute;
  top: 37px;
  left: 0px;
  width: 270px;
  height: 270px;
  object-fit: cover;
}
.instagram-twitter-facebook1 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy {
  position: absolute;
  top: 0px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-2 {
  position: absolute;
  top: 0px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-3 {
  position: absolute;
  top: 0px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-4 {
  position: absolute;
  top: 0px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-5 {
  position: absolute;
  top: 0px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-6 {
  position: absolute;
  top: 0px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-7 {
  position: absolute;
  top: 0px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-8 {
  position: absolute;
  top: 0px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-9 {
  position: absolute;
  top: 0px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-19 {
  position: absolute;
  top: 19.9px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-18 {
  position: absolute;
  top: 19.9px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-17 {
  position: absolute;
  top: 19.9px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-16 {
  position: absolute;
  top: 19.9px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-15 {
  position: absolute;
  top: 19.9px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-14 {
  position: absolute;
  top: 19.9px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-13 {
  position: absolute;
  top: 19.9px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-12 {
  position: absolute;
  top: 19.9px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-11 {
  position: absolute;
  top: 19.9px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-10 {
  position: absolute;
  top: 19.9px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-29 {
  position: absolute;
  top: 39.8px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-28 {
  position: absolute;
  top: 39.8px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-27 {
  position: absolute;
  top: 39.8px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-26 {
  position: absolute;
  top: 39.8px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-25 {
  position: absolute;
  top: 39.8px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-24 {
  position: absolute;
  top: 39.8px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-23 {
  position: absolute;
  top: 39.8px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-22 {
  position: absolute;
  top: 39.8px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-21 {
  position: absolute;
  top: 39.8px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-20 {
  position: absolute;
  top: 39.8px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-39 {
  position: absolute;
  top: 59.7px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-38 {
  position: absolute;
  top: 59.7px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-37 {
  position: absolute;
  top: 59.7px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-36 {
  position: absolute;
  top: 59.7px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-35 {
  position: absolute;
  top: 59.7px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-34 {
  position: absolute;
  top: 59.7px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-33 {
  position: absolute;
  top: 59.7px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-32 {
  position: absolute;
  top: 59.7px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-31 {
  position: absolute;
  top: 59.7px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-30 {
  position: absolute;
  top: 59.7px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-49 {
  position: absolute;
  top: 79.6px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-48 {
  position: absolute;
  top: 79.6px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-47 {
  position: absolute;
  top: 79.6px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-46 {
  position: absolute;
  top: 79.6px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-45 {
  position: absolute;
  top: 79.6px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-44 {
  position: absolute;
  top: 79.6px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-43 {
  position: absolute;
  top: 79.6px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-42 {
  position: absolute;
  top: 79.6px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-41 {
  position: absolute;
  top: 79.6px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-40 {
  position: absolute;
  top: 79.6px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-59 {
  position: absolute;
  top: 99.5px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-58 {
  position: absolute;
  top: 99.5px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-57 {
  position: absolute;
  top: 99.5px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-56 {
  position: absolute;
  top: 99.5px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-55 {
  position: absolute;
  top: 99.5px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-54 {
  position: absolute;
  top: 99.5px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-53 {
  position: absolute;
  top: 99.5px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-52 {
  position: absolute;
  top: 99.5px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-51 {
  position: absolute;
  top: 99.5px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-50 {
  position: absolute;
  top: 99.5px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-69 {
  position: absolute;
  top: 119.4px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-68 {
  position: absolute;
  top: 119.4px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-67 {
  position: absolute;
  top: 119.4px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-66 {
  position: absolute;
  top: 119.4px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-65 {
  position: absolute;
  top: 119.4px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-64 {
  position: absolute;
  top: 119.4px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-63 {
  position: absolute;
  top: 119.4px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-62 {
  position: absolute;
  top: 119.4px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-61 {
  position: absolute;
  top: 119.4px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-60 {
  position: absolute;
  top: 119.4px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-79 {
  position: absolute;
  top: 139.3px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-78 {
  position: absolute;
  top: 139.3px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-77 {
  position: absolute;
  top: 139.3px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-76 {
  position: absolute;
  top: 139.3px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-75 {
  position: absolute;
  top: 139.3px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-74 {
  position: absolute;
  top: 139.3px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-73 {
  position: absolute;
  top: 139.3px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-72 {
  position: absolute;
  top: 139.3px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-71 {
  position: absolute;
  top: 139.3px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-70 {
  position: absolute;
  top: 139.3px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-89 {
  position: absolute;
  top: 159.2px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-88 {
  position: absolute;
  top: 159.2px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-87 {
  position: absolute;
  top: 159.2px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-86 {
  position: absolute;
  top: 159.2px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-85 {
  position: absolute;
  top: 159.2px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-84 {
  position: absolute;
  top: 159.2px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-83 {
  position: absolute;
  top: 159.2px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-82 {
  position: absolute;
  top: 159.2px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-81 {
  position: absolute;
  top: 159.2px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-80 {
  position: absolute;
  top: 159.2px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-99 {
  position: absolute;
  top: 179.1px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-98 {
  position: absolute;
  top: 179.1px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-97 {
  position: absolute;
  top: 179.1px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-96 {
  position: absolute;
  top: 179.1px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-95 {
  position: absolute;
  top: 179.1px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-94 {
  position: absolute;
  top: 179.1px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-93 {
  position: absolute;
  top: 179.1px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-92 {
  position: absolute;
  top: 179.1px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-91 {
  position: absolute;
  top: 179.1px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-90 {
  position: absolute;
  top: 179.1px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-109 {
  position: absolute;
  top: 199px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-108 {
  position: absolute;
  top: 199px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-107 {
  position: absolute;
  top: 199px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-106 {
  position: absolute;
  top: 199px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-105 {
  position: absolute;
  top: 199px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-104 {
  position: absolute;
  top: 199px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-103 {
  position: absolute;
  top: 199px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-102 {
  position: absolute;
  top: 199px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-101 {
  position: absolute;
  top: 199px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-100 {
  position: absolute;
  top: 199px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.dot-ornament {
  position: absolute;
  top: 0px;
  left: 44px;
  width: 181.8px;
  height: 202px;
  opacity: 0.5;
  mix-blend-mode: normal;
  z-index: 1;
}
.your-email2 {
  height: 307px;
  flex: 1;
  position: relative;
  min-width: 175px;
}
.mail-frame {
  width: 540px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20px;
  max-width: 100%;
}
.image-3-icon {
  position: absolute;
  top: 0px;
  left: 57px;
  width: 164px;
  height: 285px;
  object-fit: cover;
}
.frame-phone {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy1 {
  position: absolute;
  top: 0px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-210 {
  position: absolute;
  top: 0px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-310 {
  position: absolute;
  top: 0px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-410 {
  position: absolute;
  top: 0px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-510 {
  position: absolute;
  top: 0px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-610 {
  position: absolute;
  top: 0px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-710 {
  position: absolute;
  top: 0px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-810 {
  position: absolute;
  top: 0px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-910 {
  position: absolute;
  top: 0px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-191 {
  position: absolute;
  top: 19.9px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-181 {
  position: absolute;
  top: 19.9px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-171 {
  position: absolute;
  top: 19.9px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-161 {
  position: absolute;
  top: 19.9px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-151 {
  position: absolute;
  top: 19.9px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-141 {
  position: absolute;
  top: 19.9px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-131 {
  position: absolute;
  top: 19.9px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-121 {
  position: absolute;
  top: 19.9px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-111 {
  position: absolute;
  top: 19.9px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-1010 {
  position: absolute;
  top: 19.9px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-291 {
  position: absolute;
  top: 39.8px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-281 {
  position: absolute;
  top: 39.8px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-271 {
  position: absolute;
  top: 39.8px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-261 {
  position: absolute;
  top: 39.8px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-251 {
  position: absolute;
  top: 39.8px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-241 {
  position: absolute;
  top: 39.8px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-231 {
  position: absolute;
  top: 39.8px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-221 {
  position: absolute;
  top: 39.8px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-211 {
  position: absolute;
  top: 39.8px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-201 {
  position: absolute;
  top: 39.8px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-391 {
  position: absolute;
  top: 59.7px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-381 {
  position: absolute;
  top: 59.7px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-371 {
  position: absolute;
  top: 59.7px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-361 {
  position: absolute;
  top: 59.7px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-351 {
  position: absolute;
  top: 59.7px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-341 {
  position: absolute;
  top: 59.7px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-331 {
  position: absolute;
  top: 59.7px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-321 {
  position: absolute;
  top: 59.7px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-311 {
  position: absolute;
  top: 59.7px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-301 {
  position: absolute;
  top: 59.7px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-491 {
  position: absolute;
  top: 79.6px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-481 {
  position: absolute;
  top: 79.6px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-471 {
  position: absolute;
  top: 79.6px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-461 {
  position: absolute;
  top: 79.6px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-451 {
  position: absolute;
  top: 79.6px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-441 {
  position: absolute;
  top: 79.6px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-431 {
  position: absolute;
  top: 79.6px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-421 {
  position: absolute;
  top: 79.6px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-411 {
  position: absolute;
  top: 79.6px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-401 {
  position: absolute;
  top: 79.6px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-591 {
  position: absolute;
  top: 99.5px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-581 {
  position: absolute;
  top: 99.5px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-571 {
  position: absolute;
  top: 99.5px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-561 {
  position: absolute;
  top: 99.5px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-551 {
  position: absolute;
  top: 99.5px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-541 {
  position: absolute;
  top: 99.5px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-531 {
  position: absolute;
  top: 99.5px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-521 {
  position: absolute;
  top: 99.5px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-511 {
  position: absolute;
  top: 99.5px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-501 {
  position: absolute;
  top: 99.5px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-691 {
  position: absolute;
  top: 119.4px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-681 {
  position: absolute;
  top: 119.4px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-671 {
  position: absolute;
  top: 119.4px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-661 {
  position: absolute;
  top: 119.4px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-651 {
  position: absolute;
  top: 119.4px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-641 {
  position: absolute;
  top: 119.4px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-631 {
  position: absolute;
  top: 119.4px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-621 {
  position: absolute;
  top: 119.4px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-611 {
  position: absolute;
  top: 119.4px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-601 {
  position: absolute;
  top: 119.4px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-791 {
  position: absolute;
  top: 139.3px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-781 {
  position: absolute;
  top: 139.3px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-771 {
  position: absolute;
  top: 139.3px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-761 {
  position: absolute;
  top: 139.3px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-751 {
  position: absolute;
  top: 139.3px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-741 {
  position: absolute;
  top: 139.3px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-731 {
  position: absolute;
  top: 139.3px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-721 {
  position: absolute;
  top: 139.3px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-711 {
  position: absolute;
  top: 139.3px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-701 {
  position: absolute;
  top: 139.3px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-891 {
  position: absolute;
  top: 159.2px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-881 {
  position: absolute;
  top: 159.2px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-871 {
  position: absolute;
  top: 159.2px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-861 {
  position: absolute;
  top: 159.2px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-851 {
  position: absolute;
  top: 159.2px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-841 {
  position: absolute;
  top: 159.2px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-831 {
  position: absolute;
  top: 159.2px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-821 {
  position: absolute;
  top: 159.2px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-811 {
  position: absolute;
  top: 159.2px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-801 {
  position: absolute;
  top: 159.2px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-991 {
  position: absolute;
  top: 179.1px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-981 {
  position: absolute;
  top: 179.1px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-971 {
  position: absolute;
  top: 179.1px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-961 {
  position: absolute;
  top: 179.1px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-951 {
  position: absolute;
  top: 179.1px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-941 {
  position: absolute;
  top: 179.1px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-931 {
  position: absolute;
  top: 179.1px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-921 {
  position: absolute;
  top: 179.1px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-911 {
  position: absolute;
  top: 179.1px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-901 {
  position: absolute;
  top: 179.1px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-1091 {
  position: absolute;
  top: 199px;
  left: 0px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-1081 {
  position: absolute;
  top: 199px;
  left: 19.9px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-1071 {
  position: absolute;
  top: 199px;
  left: 39.7px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-1061 {
  position: absolute;
  top: 199px;
  left: 59.6px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-1051 {
  position: absolute;
  top: 199px;
  left: 79.5px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-1041 {
  position: absolute;
  top: 199px;
  left: 99.3px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-1031 {
  position: absolute;
  top: 199px;
  left: 119.2px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-1021 {
  position: absolute;
  top: 199px;
  left: 139.1px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-1011 {
  position: absolute;
  top: 199px;
  left: 159px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.rectangle-3-copy-1001 {
  position: absolute;
  top: 199px;
  left: 178.8px;
  background-color: #404852;
  width: 3px;
  height: 3px;
}
.dot-ornament1 {
  position: absolute;
  top: 121px;
  left: 0px;
  width: 181.8px;
  height: 202px;
  opacity: 0.5;
  mix-blend-mode: normal;
  z-index: 1;
}
.enter-your-email {
  height: 323px;
  width: 221px;
  position: relative;
  min-width: 221px;
}
.image-4-icon {
  height: 356px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 231px;
}
.joina-newsletter {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  max-width: 100%;
}
.image {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20px;
  min-width: 388px;
  max-width: 100%;
}
.section-service {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 50px 164px 50px 165px;
  box-sizing: border-box;
  gap: 25px;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: 24px;
  color: #333;
  font-family: "Plus Jakarta Sans";
}

@media screen and (max-width: 1200px) {
  .rectangle-rectangle-copy {
    flex: 1;
  }

  .section-service {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .service-we-provide {
    font-size: 38px;
    line-height: 42px;
  }

  .rectangle-rectangle-copy {
    min-width: 100%;
  }

  .section-service {
    padding-top: 59px;
    padding-bottom: 64px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .social-media2 {
    flex-wrap: wrap;
  }

  .footer1 {
    flex-wrap: wrap;
  }

  .frame-parent {
    flex-wrap: wrap;
  }

  .footer2 {
    flex-wrap: wrap;
  }

  .frame-map-marker {
    gap: 32px;
  }

  .image-1-icon {
    flex: 1;
  }

  .mail-frame {
    flex-wrap: wrap;
  }

  .enter-your-email {
    flex: 1;
  }

  .joina-newsletter {
    flex-wrap: wrap;
  }

  .image {
    min-width: 100%;
  }

  .section-service {
    padding-left: 82px;
    padding-right: 82px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .service-we-provide {
    font-size: 29px;
    line-height: 32px;
  }

  .performance-marketing {
    font-size: 19px;
    line-height: 26px;
  }

  .feed-management-e-commerce {
    font-size: 19px;
    line-height: 26px;
  }

  .content-production {
    font-size: 19px;
    line-height: 26px;
  }

  .influencer-marketing {
    font-size: 19px;
    line-height: 26px;
  }

  .section-service {
    padding: 38px 20px 42px;
    box-sizing: border-box;
  }
}
